<%= render 'layouts/header' %>
<% Quiz.pluck(:genre).uniq.each do |genre| %>
  <%= link_to genre, quizzes_path(genre: genre), class: 'quiz-genre' %>
<% end %>

<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div id="quiz-div" style="display: none;">
    意味: <div id="meaning"></div>
    <div id="total-score"><%= @total_score %></div> Point
    <h2 id="how-many-quizzes">残り問題数: <%= @remember_quizzes %></h2>
    <h1><%= params[:genre] ? params[:genre]: '英単語クイズ' %></h1>
    <span id="question"><%= @question %></span>
    <%= form_with(url: check_answer_quiz_path(@quiz), method: "post", id: "quiz-form", local: false, data: { turbo: false }) do %>
      <%= text_field_tag :answer,  '', id: 'answer' %>
      <%= hidden_field_tag :correct_answer, @answer %>
      <%= submit_tag "解答" %>
    <% end %>
    <%= button_to 'リセット', start_quizzes_path, method: :post %>
      <img id="quiz-image" src="<%= @quiz.image_url %>" alt="<%= @quiz.content %> image" style="width: 300px; height: 300px; border-radius: 20px;">
      <%#= link_to '次の問題へ', quizzes_path(genre: params[:genre]), method: :get, class: 'btn btn-primary' %>
  </div>
</div>
<%= javascript_include_tag 'quiz_index' %>
